body {
  font-family: var(--font-family-body);
  background-color: var(--color-pink-light);
}

p {
  line-height: 1.5;
  font-size: 18px;
}

a {
  color: var(--color-black);
  
  &:hover {
    color: var(--color-teal);
  }
}