body {
  font-family: var(--font-family-body);
  background-color: var(--color-pink-light);
  
  &.is-active {
    padding-top: 75px;
  }
}

p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 300;
  
  &:hover {
    color: var(--color-teal);
  }
}