.c-navigation {
  padding: 20px 0;  
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  
  @media(max-width: 767px) {
    height: 75px;
    
    &.is-active {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: var(--z-index-300);
    }
  }
  
  &__logo {
    font-size: 30px;
    font-family: var(--font-family-heading);
    color: var(--color-black);
    transition: var(--transition-all);
    
    @media(max-width: 767px) {
      font-size: 24px;
    }
    
    &:hover {
      color: var(--color-teal);
    }
  }
  
  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
    
    @media(max-width: 767px) {
      &.is-active {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
      }
     
      display: block;
      position: fixed;
      inset: 0;
      top: 75px;
      padding: 0 var(--space);
      background-color: var(--color-white);      
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden; 
      transition: var(--transition-slow);      
    }
  }
  
  &__link {
    font-weight: 300;
    color: var(--color-black);
    transition: var(--transition-all);
    
    @media(max-width: 767px) {
      display: block;
      margin-bottom: 15px;
    }
    
    &:hover {
      color: var(--color-teal);
    }
    
    &--social {
      svg {
        border-radius: 5px;
        
        path {
          transition: var(--transition-all);      
        }
        
        &:hover {
          path {
            fill: var(--color-teal);
          }
        }
      }
    }
  }
}