.c-navigation {
  padding: 20px 0;  
  border-bottom: 1px solid salmon;
  
  &__logo {
    font-size: 30px;
    font-family: var(--font-family-heading);
    color: var(--color-black);
  }
  
  &__links {
    display: flex;
    gap: 20px;
  }
}

.container--flex {
  align-items: center;
  justify-content: space-between;
}