.c-navigation {
  padding: 20px 0;  
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  
  &__logo {
    font-size: 30px;
    font-family: var(--font-family-heading);
    color: var(--color-black);
    transition: var(--transition-all);
    
    @media(max-width: 767px) {
      font-size: 24px;
    }
    
    &:hover {
      color: var(--color-teal);
    }
  }
  
  &__links {
    display: flex;
    gap: 20px;
    
    @media(max-width: 767px) {
      display: none;
    }
  }
  
  &__link {
    font-weight: 300;
    color: var(--color-black);
    transition: var(--transition-all);
    
    &:hover {
      color: var(--color-teal);
    }
  }
}