.c-project {
  width: 75%;
  margin: auto;
  
  @media(max-width: 1024px) {
    width: 100%;
  }
  
  @media(max-width: 767px) {
    width: 100%;
  }
  
  &__block {
    &--split {
      display: flex;
      gap: 40px;
    }
  }
  
  &__images {
    flex-basis: 50%;
  }
  
  &__meta {   
    flex-basis: 50%;
    position: sticky;
    top: 150px;
    align-self: flex-start;
     
    &--wrap {
      display: flex;
      gap: 40px;
      
      @media(max-width: 767px) {
        gap: 20px;
      }
    }
    
    &--block {
      flex-basis: 33.3%;
    }
    
    li {
      font-weight: 300;
      list-style: circle;
    }
  }
}