.c-project {
  &__block {
    display: flex;
    gap: 40px;
    align-items: flex-start; 
    justify-content: space-between;
    
    @media(max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  
  &__description {
    width: 50%;
    
    @media(max-width: 767px) {
      width: 100%;
    }
  }
  
  &__meta {
    width: 50%;
    
    &--wrap {
      display: flex;
      gap: 40px;
    }
    
    li {
      font-weight: 300;
    }
  }
}