@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@100;300;500;700&display=swap');

// Colors
:root {
  --color-pink: lightcoral;
  --color-pink-light: #faf1f1;
  --color-teal: #20a8a5;
  --color-black: #000;
  --color-white: #fff;
}

// Spacing
:root {
  --space: 20px;
  --space-half: calc(var(--space) - 10px); // 10px
  --space-double: calc(var(--space) * 2); // 40px
  --space-triple: calc(var(--space) * 3); // 60px
}

// Fonts
:root {
  --font-family-body: "Roboto", sans-serif;
  --font-family-heading: "Agbalumo", serif;
  --font-size-lg: 20px;
  --font-size-xl: 30px;
  --font-size-xxl: 40px;
}

// Misc
:root {
  --border-radius-default: 10px;
  --transition-all: all 0.2s ease;
  --transition-slow: all 0.5s ease;
  --z-index-100: 100;
  --z-index-200: 200;
  --z-index-300: 300;
}