---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Miranda Wilson | Senior Project Manager">
  <Hero />
  
  <div class="container">
    <h1>Projects</h1>
  </div>
</Layout>

<style is:global>
* {
  margin: 0;
  padding: 0;
}


.container {
  width: 75%;
  margin: auto;
  
  &.container--flex {
    display: flex;
  }
}
</style>