---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Miranda Wilson | Portfolio">
  <Hero />
  
  <div class="container">
    <!-- <h1>Projects</h1> -->
  </div>
</Layout>