---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
// import PageLink from '../components/PageLink.astro';
---

<Layout title="Projects | Miranda Wilson">  
  <div class="container u-padding--top--md">
    <h1 class="u-padding--bottom--sm">Projects</h1>
    
    <div class="grid">
      <!-- <PageLink url="/projects/ou-health" title="OU Health"/> -->
      <Card url="/projects/ou-health" title="OU Health" />
      <Card url="/projects/university-of-oklahoma" title="University of Oklahoma" />
      <Card url="/projects/ymca" title="YMCA" />
      <Card url="/projects/express-employment-professionals" title="Express Employment Professionals" />
      <Card url="/projects/arts-council-okc" title="Arts Council OKC" />
      <Card url="/projects/ohlovelyone" title="Ohlovelyone" />
    </div>
  </div>
</Layout>

<style lang="scss">
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
        
    // Add below to prevent content overflow
    > * {
      min-width: 0px;
    }
    
    // .column {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;      
    // }
  }
</style>