<footer class="c-footer">
  &copy; <span class="c-footer__year">2023</span> Miranda Wilson
  <div class="c-footer__call-sign">
    Site built by <a href="https://www.justingreen.dev/" target="_blank">Justin Green</a>
  </div>
</footer>

<script is:inline>
  document.querySelector('.c-footer__year').innerHTML = new Date().getFullYear();
</script>