<footer class="footer">
  &copy; <span class="c-footer__year">2023</span> Miranda Wilson
</footer>

<script is:inline>
  document.querySelector('.c-footer__year').innerHTML = new Date().getFullYear();
</script>

<style lang="scss">
  .footer {
    text-align: center;
    padding: 20px;
  }
</style>