<footer class="c-footer">
  &copy; <span class="c-footer__year">2023</span> Miranda Wilson
</footer>

<script is:inline>
  document.querySelector('.c-footer__year').innerHTML = new Date().getFullYear();
</script>