<div class="hero u-padding--top--md">
  <div class="hero__grid">
    <div class="hero__photo">
      <div class="hero__photo-headshot">
      </div>
    </div>
    
    <div class="hero__text">
      <h2>Miranda Wilson</h2>
      <h3 class="u-padding--bottom--sm">Senior Project Manager</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ad necessitatibus ea cumque labore maiores porro esse repellat a nulla veniam autem soluta ab officia, eos voluptate mollitia. Non magnam perferendis veritatis provident doloribus excepturi voluptates ratione itaque eum, saepe sequi eveniet sunt nemo suscipit dolore illo ea laborum explicabo voluptatum? Sunt dolorum hic ut neque fugiat nisi mollitia placeat recusandae sed est modi, adipisci totam. Minus eos, laboriosam quaerat eveniet ut fugit tempora! Culpa nemo commodi non officia! Velit non dolorum repellendus? Architecto eius nulla suscipit ullam voluptatibus voluptatum quibusdam animi vitae quas ducimus accusamus, adipisci, numquam recusandae vero!
      </p>
    </div>
  </div>
</div>