---
import { Image } from 'astro:assets';
import headshot from "../images/headshot@2x.jpg";
---

<div class="hero">
  <div class="hero__grid">
    <div class="hero__photo">
      <div class="hero__photo-headshot">
        <Image src={headshot} alt="Miranda Wilson" />
      </div>
    </div>
    
    <div class="hero__text">
      <h2 class="u-padding--bottom--sm">My Story</h2>
      <p class="u-margin--bottom--sm">
      Hi! I’m Miranda. As a seasoned marketer, project manager, copywriter, communications expert, and team lead with over 17 years of experience, I specialize in creating meaningful, results-driven content, products, and campaigns.
      </p>
      <p class="u-margin--bottom--sm">
        My expertise spans many industries and environments, including B2B, B2C, e-commerce, nonprofit, corporate, and editorial. I am passionate about creativity, strategizing, interpersonal communications, maximizing team strengths, and customer satisfaction - helping businesses elevate their bottom line and achieve their objectives.
      </p>
      <h3>Hobbies & Interests</h3>
      <p class="u-margin--bottom--sm">
        National Parks, traveling, hiking, being outside, health and wellness, gardening, reading, and spending time with my family
      </p>
      <h3>Contact</h3>
      <a href="mailto:hello.mlwilson@gmail.com">hello.mlwilson@gmail.com</a>
      <p class="u-margin--top--xs">📍Oklahoma City, OK</p>
    </div>
  </div>
</div>

<script is:inline>
  setTimeout(() => {
    document.querySelector('.hero__photo-headshot').classList.add('is-active');
  }, 100);
  
  setTimeout(() => {
    document.querySelector('.hero__text').classList.add('is-active');
  }, 500);   
</script>