---
import Navicon from './Navicon.astro'
---
<nav class="c-navigation">
  <div class="container container--flex u-align-center u-space-between">
    <a href="/" class="c-navigation__logo">
      Miranda Wilson
    </a>      
    
    <div class="c-navigation__links">            
      <a class="c-navigation__link" href="/projects">Projects</a>
      <!-- <a class="c-navigation__link" href="#" target="_blank">Resume</a> -->
    </div>
    
    <Navicon />
  </div>
</nav>