<div class="c-navicon">
  <div class="c-navicon__bar"></div>
  <div class="c-navicon__bar"></div>
  <div class="c-navicon__bar"></div>
</div>

<script>
  const naviconToggle = () => {
    if(document.querySelector('.c-navicon')) {
      document.querySelector('.c-navicon').addEventListener(('click'), () => {
        document.querySelector('.c-navigation__links').classList.toggle('is-active');
        document.querySelector('.c-navigation').classList.toggle('is-active');
        document.querySelector('.c-navicon').classList.toggle('is-active');
        document.body.classList.toggle('is-active');
      });
    }
  }
  
  naviconToggle();
  
  document.addEventListener('astro:after-swap', () => {
    naviconToggle();
  });
</script>