<nav class="c-navigation">
  <div class="container container--flex">
    <a href="/" class="c-navigation__logo">
      Miranda Wilson
    </a>      
    
    <div class="c-navigation__links">            
      <a class="c-navigation__link" href="/projects">Projects</a>
      <a class="c-navigation__link" href="https://docs.google.com/document/d/1Al5W1R7yLhciHjhixN99z1nYZ_qfYv40ddKmJ1GXbG4/edit?pli=1" target="_blank">Resume</a>
    </div> 
  </div>
</nav>