<nav class="navigation">
  <div class="container container--flex">
    <a href="/" class="c-navigation__logo">
      Miranda Wilson | Senior Project Manager
    </a>      
    
    <div class="navigation__links">
      <a class="navigation__link" href="#about">About</a>
      <a class="navigation__link" href="#projects">Projects</a>    
    </div> 
  </div>
</nav>

<style>
.navigation {
  padding: 20px 0;  
}

.navigation__links {
  display: flex;
  gap: 20px;
}

.container--flex {
  justify-content: space-between;
}
</style>