---
const { projectTitle } = Astro.props;
// need logic to determine if there is another project before of after current project
// Example logic below
// if projectTitle === 'ou-health' dont show previous project link etc..
---

<div class="c-pagination">
  <a href="#">Previous Project</a>
  <a href="#">Next Project</a>
</div>