---
const { projectTitle, previousLink, nextLink } = Astro.props;
---

<div class="c-pagination">
  { projectTitle === "ou-health" ? null : <a href={previousLink} class="c-pagination__link">Previous Project</a> }
  { projectTitle === "ohlovelyone" ? null : <a href={nextLink} class="c-pagination__link">Next Project</a> }
</div>