---
const { title, description, imageOne, industry } = Astro.props;
---

<div class="c-project">
  <h1 class="c-project__title u-margin--bottom--sm">{title}</h1>
  <!-- <h3 class="c-project__industry u-margin--bottom--sm">Industry: {industry}</h3> -->
  
  <div class="c-project__block">
    <div class="c-project__description u-margin--bottom--sm">
      
      <p>{description}</p>
      <div class="c-project__image">{ imageOne ? <img class="c-project__image" src={imageOne.src} alt="Project Image"> : null }</div>
    </div>
    <slot name="project-meta" />       
  </div>    
</div>