<div class="c-project">
  <div class="c-project__block">    
    <div class="c-project__block--split">
      <slot name="project-images" />
      <slot name="project-description" />        
      <slot name="project-meta" />   
    </div>        
  </div>    
</div>